body {
 background: white;
 color: black;
}

p#rightNow {
 font-size: 13px;
 margin: 0 0 0 0; 
 text-align: center;
}

span#bottomFrontLine {
 height: 1px;
 background: grey;
 margin-bottom: 10px;
 display: inline-block
}

span#circle {
 width: 15px;
 height: 15px;
 background: #21CE99;
 display: inline-block;
 margin-top: -4px;
 position: absolute;
 border-radius: 50%;
}

span#bottomRareLine {
 height: 1px;
 background: grey;
 margin-bottom: 10px; 
 display: inline-block;
}

div#compare {
 margin-bottom: 60px;
}

p#compare {
 font-size: 15px;
 margin: 0 0 0 0;
 font-weight: 600;
}

div#lowest {
 width: 80px;
 font-size: 14px;
 display: inline-block;
}

div#averagePricePaid {
 width: 80px;
 font-size: 14px;
 display: inline-block;
 text-align: center;
 position: absolute;
}

div#highest {
 width: 85px;
 font: 14px; 
 display: inline-block;
 text-align: right;
 position: absolute;
 left: 600;
}